<div id="footer">
            <div id="footerTop">
                <span style="color:black">STAY IN TOUCH WITH US</span>
                <button type="submit" class="footerButton">Subscribe</button>
                <div id="socialIcons">
                    <a href="#"><img src="./images/facebook.png" alt="" width="25px" height="25px"></a>
                    <a href="#"><img src="./images/instagram.png" alt="" width="25px" height="25px"></a>
                    <a href="#"><img src="./images/twitter.png" alt="" width="25px" height="25px"></a>
                    <a href="#"><img src="./images/whatsapp.png" alt="" width="25px" height="25px"></a>
                    
                </div>
            </div> 


            <div id="footerMid">
                
                    <div id="footerContainer1">
                        <div class="footerLinks">
                            <a href="#" class="footerLinkTitle">HELP</a>
                            <a href="#">Help | FAQ</a>
                            <a href="#">Returns</a>
                            <a href="#">Contact Us</a>
                            <a href="#">How to Shop</a>

                        </div>

                        <div class="footerLinks">
                            <a href="#" class="footerLinkTitle">QUICK LINKS</a>
                            <a href="#">About Us</a>
                            <a href="#">Store Locator</a>
                            <a href="#">Paxi</a>
                            <a href="#">Careers</a>

                        </div>

                        <div class="footerLinks">
                            <a href="#" class="footerLinkTitle">POLICIES</a>
                            <a href="#">Delivery & Returns Policy</a>
                            <a href="#">Terms & Conditions</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Security Policy</a>

                        </div>
                    
                    </div>

                
                    <div id="footerContainer2">       
                        <a href="#" class="footerLinkTitle">NEWSLETTER SIGN UP</a>
                        <span>Sign up to our newsletter for the latest news & offers.</span>
                        <button type="submit" class="footerButton">Sign Up</button>
                    </div>
                
                
            </div>

            <div id="footerBottom">
                <div class="footerContainer3">
                    <img src="./images/logo.svg" alt="" width="100px" height="50px">
                    <span>©2025 Shoe City | All Rights Reserved.</span>
                </div>

                <div class="footerContainer3">
                    <img src="./images/visa.svg" alt="" width="50px" height="30px">
                    <img src="./images/mastercard.svg" alt=""  width="50px" height="30px">
                    <img src="./images/payments-a1.svg" alt=""  width="50px" height="30px">
                </div>
            </div>
</div>