<div id="header">
            <div id="navTop">
                <div class="navItem" id="navItem1">
                    <a href="index.html">
                        <img src="./images/logo.svg" id="logo" width="200px" height="100px" alt="" >
                    </a>
                </div>
                
                <div class="navItem" id="navItem2">
                    <div id="search">
                        
                        <input type="text" id="searchBar" placeholder="Search..." >
                        <img  src="./images/search.svg" id="searchIcon" height="30px" alt="">
                    </div>
                    <a href="login.html">
                        <p>Login</p>
                    </a>
                    <a href="Register.html">
                        <p>Register</p>
                    </a>
                    <a href="#">
                        <img src="./images/account.svg" id="account" width="30px" height="30px" alt="">
                    </a>
                    <a href="http://localhost:3000/wishlist.html">
                        <img  src="./images/heart.png" id="heart" width="30px" height="30px" alt="">
                        <span id="wishlist"></span>
                    </a>
                    <a href="http://localhost:3000/cart.html">
                        <img  src="./images/cart.png" id="cart" width="30px" height="30px" alt="">
                        <span id="cart2"></span>
                    </a>
                
                </div>
                
            
            

            </div>

            
            <div id="navBottom">
                <div class="navItem" id="navItem3">
                    <a href="index.html">Home</a>
                    <a href="http://localhost:3000/products.html">Products</a>
                    <a href="http://localhost:3000/products.html?category=men" id="men">Men</a>
                    <a href="http://localhost:3000/products.html?category=women" id="women">Women</a>
                    <a href="http://localhost:3000/products.html?category=kids" id="kids">Kids</a>

                </div>
            </div>
            <!-- <script src="../Javascript/header.js"></script> -->
        </div>
        